*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  border: none;
  outline: none;
}

:root {
  --card-padding: 1rem;
  --card-radius: 0.5rem;
  --card-height: 20rem;
  --card-width: 16rem;
  --card-red: #ef4444;
  --card-red-darker: #dc2626;
  --card-green: #2dd4bf;
  --card-green-darker: #0d9488;
  --card-gray: #d1d5db;
  --background-main: #f0fdfa;
  --box-shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-smin: 0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1), inset 0 2px 4px 0 rgb(0 0 0 / 0.1);
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex-grow: 1;
  background-color: white;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  text-align: center;
}

header > h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(1rem, 10vmin, 2rem);
}

main {
  background-color: var(--background-main);
  box-shadow: inset 0 4px 8px 0 rgb(0 0 0 / 0.1);
  flex-grow: 1;
}

main > form {
  background-color: var(--background-main);
  padding: var(--card-padding);
  border-radius: var(--card-padding);
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--card-height);
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main > form > p {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--card-green-darker);
}

main > form > button[type="button"] {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.175rem;
  background-color: var(--card-red);
  align-self: flex-end;
  box-shadow: var(--box-shadow-sm);
}

main > form > button[type="button"]:hover {
  background-color: var(--card-red-darker);
  cursor: pointer;
}

main > form > button[type="button"]:active {
  scale: 0.95;
}

main > form > button[type="button"] > svg {
  fill: white;
}

main > form > button[type="button"] > svg:hover {
  transform: rotate(90deg);
  transition: all 0.5s;
}

main > form > .form-input {
  background-color: white;
  height: 2rem;
  padding: 0.4rem;
  border-radius: var(--card-radius);
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--card-green-darker);
}

main > form > .form-input > input {
  width: 100%;
  height: 100%;
}

main > form > .form-input > label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

main > form > .form-input > label > .label-name {
  font-size: 0.9rem;
  position: absolute;
  bottom: 0.4rem;
  left: 0.5rem;
  color: var(--card-green-darker);
}

main > form > .form-input > input:focus + label > .label-name,
main > form > .form-input > input:valid + label > .label-name {
  transform: scale(0);
}

main > form > .form-input-checkbox {
  position: relative;
  width: 80%;
}

main > form > .form-input-checkbox > label {
  color: var(--card-green-darker);
  font-weight: 700;
}

main > form > .form-input-checkbox > input {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  border: 0.125rem solid var(--card-green-darker);
  border-radius: var(--card-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow-smin);
}

main > form > .form-input-checkbox > input::before {
  content: "";
  top: 0.1rem;
  bottom: 0.1rem;
  left: 0.1rem;
  width: 0.8rem;
  background-color: var(--card-green-darker);
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--box-shadow-sm);
  z-index: 3;
}

main > form > .form-input-checkbox > input::after {
  content: "No";
  position: absolute;
  right: 0.175rem;
  color: var(--card-green-darker);
  font-size: 0.55rem;
  font-weight: 700;
  bottom: 0.15rem;
}

main > form > .form-input-checkbox > input:checked {
  background-color: var(--card-green);
}

main > form > .form-input-checkbox > input:checked::before {
  transform: translate(150%);
  border: 1px solid var(--card-green-darker);
  background-color: white;
}

main > form > .form-input-checkbox > input:checked::after {
  content: "Yes";
  position: absolute;
  left: 0.175rem;
  color: white;
  font-size: 0.55rem;
  font-weight: 700;
  bottom: 0.15rem;
}

main > form > .submit-input {
  width: 80%;
  display: flex;
  justify-content: center;
}

main > form > .submit-input > #submit-btn {
  background-color: var(--card-green);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  padding: calc(var(--card-padding) / 2);
  border-radius: var(--card-radius);
  width: 100%;
  box-shadow: var(--box-shadow-sm);
}

main > form > .submit-input > #submit-btn:hover {
  background-color: var(--card-green-darker);
  cursor: pointer;
}

main > form > .submit-input > #submit-btn:active {
  scale: 0.95;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
